<div class="container">
  <a href="https://github.com/amcardle98/ADAMRebuilds">
    <div class="project">
      <h3>Adam Rebuilds</h3>
    </div></a
  >
  <a href="https://github.com/Sminchdawg/Datcord">
    <div class="project">
      <h3>Datcord</h3>
    </div></a
  >
  <a href="">
    <div class="project">
      <h3>Escape from Azkaban</h3>
    </div></a
  >
  <a href="https://github.com/amcardle98/CastleEscape">
    <div class="project">
      <h3>Castle Escape</h3>
    </div></a
  >
  <a href="https://github.com/amcardle98/3701_TicTacToeApp">
    <div class="project">
      <h3>Tik Tac Toe</h3>
    </div>
  </a>
  <a href="https://github.com/amcardle98/POSApplication">
    <div class="project">
      <h3>POS App</h3>
    </div></a
  >
  <a href="https://github.com/amcardle98/SudokuSolver">
    <div class="project">
      <h3>Sudoku Solver</h3>
    </div></a
  >
</div>
