<div class="container">
  <div class="header">
    <img class="head-bg" src="../assets/Vecteezy_Background-Technology-Background_RW0320_generated.png" alt="">
    <svg
      class="curvy-line"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 149"
      fill="none"
    >
      <path
        d="M0 30.1146L110.912 7.80038C172.31 -4.55233 235.778 -1.97539 295.973 15.3143L365.041 35.1526C434.575 55.1247 508.461 54.1002 577.414 32.2079L590.95 27.9101C670.888 2.53035 756.521 1.1961 837.211 24.0731L889.674 38.9474C951.274 56.4122 1016.76 54.5021 1077.23 33.4764L1086.01 30.4242C1164.15 3.25817 1247.93 -3.51216 1329.42 10.7544L1440 30.1146V149H0V30.1146Z"
        fill="rgb(243, 246, 255)"
      />
    </svg>
    <svg
      class="curvy-line-2"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 149"
      fill="none"
    >
      <path
        d="M0 30.1146L110.912 7.80038C172.31 -4.55233 235.778 -1.97539 295.973 15.3143L365.041 35.1526C434.575 55.1247 508.461 54.1002 577.414 32.2079L590.95 27.9101C670.888 2.53035 756.521 1.1961 837.211 24.0731L889.674 38.9474C951.274 56.4122 1016.76 54.5021 1077.23 33.4764L1086.01 30.4242C1164.15 3.25817 1247.93 -3.51216 1329.42 10.7544L1440 30.1146V149H0V30.1146Z"
        fill="rgb(243, 246, 255, .5)"
      />
    </svg>
    <div class="header-info">
      <div class="info">
        <img class="headshot" src="../assets/me.jpeg" alt="" />
        <div style="margin: 0 15px">
          <h1>Hi! I'm Alex</h1>
          <p>Software Developer</p>
          <span>
            <a href="https://www.linkedin.com/in/alexander-mcardle-60498b160/">
              <img
                style="width: 28px; margin-right: 10px"
                src="../assets/icons/linkedin-svgrepo-com (2).svg"
                alt=""
              />
            </a>
            <a href="https://github.com/amcardle98">
              <img
                style="width: 28px; margin-right: 5px"
                src="../assets/icons/github-142-svgrepo-com.svg"
                alt=""
              />
            </a>
            <a href="https://facebook.com/amcardle98">
              <img
                style="width: 28px; margin-right: 5px"
                src="../assets/icons/facebook-boxed-svgrepo-com.svg"
                alt=""
              />
            </a>
            <a href="https://twitter.com/mcardle_">
              <img
                style="width: 28px; margin-right: 5px"
                src="../assets/icons/twitter-svgrepo-com.svg"
                alt=""
              />
            </a>
          </span>
        </div>
      </div>
      <div class="navs">
        <h3 class="nav-item" (click)="display_content = 1">About</h3>
        <h3 class="nav-item" (click)="display_content = 2">Skills</h3>
        <h3 class="nav-item" (click)="display_content = 3">Projects</h3>
        <h3 class="nav-item" (click)="display_content = 4">Contact</h3>
      </div>
    </div>
  </div>
  <div class="content">
    <div [ngSwitch]="display_content">
      <app-about *ngSwitchCase="1"></app-about>
      <app-skills *ngSwitchCase="2"></app-skills>
      <app-projects *ngSwitchCase="3"></app-projects>
      <app-contact *ngSwitchCase="4"></app-contact>
    </div>
  </div>
  <!-- <div class="side-nav">
    <img class="headshot" src="assets/stock-placeholder.png" alt="Headshot" />
    <div class="navs">
      <h3 class="nav-item" (click)="display_content = 1">About</h3>
      <h3 class="nav-item" (click)="display_content = 2">Skills</h3>
      <h3 class="nav-item" (click)="display_content = 3">Projects</h3>
      <h3 class="nav-item" (click)="display_content = 4">Contact</h3>
      <h3 class="nav-item" class="icons">
        <img class="icon" src="../assets/icons/mail-svgrepo-com (1).svg" alt="">
        <img class="icon" src="../assets/icons/github-142-svgrepo-com.svg" alt="">
        <img class="icon" src="../assets/icons/linkedin-linked-in-svgrepo-com.svg" alt="">
      </h3>
    </div>
  </div> -->
  <!-- <div class="content">
    <div [ngSwitch]="display_content">
      <app-about *ngSwitchCase="1"></app-about>
      <app-skills *ngSwitchCase="2"></app-skills>
      <app-projects *ngSwitchCase="3"></app-projects>
      <app-contact *ngSwitchCase="4"></app-contact>
    </div>
  </div> -->
</div>
