<div class="container">

  <br />
  <br />
  <div class="content">
    I am a Software Developer based out of Youngstown Ohio. Currently, I am working as a Full stack developer at Envelope1. My passion is Full
    stack developement with a closer focus on front end. I love working with
    frameworks such as Angular and react.
    <br />
    <br>
    I recently started diving deeper into music production and have sparked an
    interest into learning about DSP and audio engineering. Ultimately, I would
    love to combine my skils of Programming and Music into one.
    <br>
    <br>
    I am constantly trying to learn and teach myself new things. I have a persistent mindset and am always looking for ways to improve myself.
  </div>
</div>
