<div class="container">
    <br />
    <br />
    <div class="content">
      <div>
        <label for="">Frontend</label>
        <div class="skill-container">
          <p>HTML5/CSS</p>
          <p>Javascript</p>
          <p>Angular</p>
          <p>React</p>
        </div>
      </div>
      <div>
        <label for="">Backend</label>
        <div class="skill-container">
          <p>NodeJS</p>
          <p>Express</p>
          <p>C#</p>
          <p>Python</p>
          <p>GO</p>
          <p>PHP</p>
        </div>
      </div>
      <div>
        <label for="">Data Management</label>
        <div class="skill-container">
          <p>SqlServer</p>
          <p>MongoDB</p>
          <p>PostgreSQL</p>
          <p>MySQL</p>
        </div>
      </div>
      <div>
        <label for="">Project Management</label>
        <div class="skill-container">
          <p>Jira</p>
          <p>Trello</p>
          <p>Azure DevOps</p>
        </div>
      </div>
    </div>
  </div>
  